.header {
  flex: 1;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right,
.header__left {
  flex: 0.4;
  margin: 30px auto;
}

.header__left a {
  margin-right: 8px;
  margin-top: 7px;
  border-radius: 30px !important;
}

.header__leftButtonsLeft {
  color: white !important;
}
