.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0px auto;
  background-color: white;
}

.header__right,
.header__left {
  flex: 0.4;
  margin: 30px auto;
}

.header__left a {
  margin-right: 8px;
  margin-top: 7px;
}

.header__leftButtonsLeft {
  color: white !important;
}

@media only screen and (max-width: 700px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }

  .header__right,
  .header__left {
    width: 100%;
    margin: 10px auto;
  }

  .header__right img {
    width: 400px;
  }
}
