.pricing {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 40px auto;
}

.pricing__container {
  display: flex;
  justify-content: space-evenly;
  margin: 15px auto;
  width: 90%;
}

.pricing__box {
  flex: 0.3;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 700px) {
  .pricing__container {
    flex-direction: column;
  }
}
