.accountDetails {
  display: flex;
  flex: 1;
}

.accountDetails__container {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.accountDetails__containerHead {
  height: 100px;
  background-color: whitesmoke;
  margin-bottom: 50px;
}

.accountDetails__containerHead h4 {
  margin-top: 25px;
}

.accountDetails__containerMain {
  display: flex;
  justify-content: space-evenly;
}

.accountDetails__containerLeft {
  flex: 0.45;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accountDetails__containerLeft .MuiFormControl-root {
  margin-bottom: 10px !important;
}

.accountDetails__containerRight {
  flex: 0.45;
}

.accountDetails__containerRight .MuiAvatar-root {
  margin: auto;
  height: 250px;
  width: 250px;
}

@media only screen and (max-width: 700px) {
  .accountDetails__containerMain {
    flex-direction: column;
  }

  .accountDetails__container {
    flex: 1;
  }

  .accountDetails__containerLeft {
    margin: 5px auto;
    width: 80%;
  }
}
