.billing {
  display: flex;
  flex: 1;
}

.billing__container {
  flex: 0.8;
}

.billing__head {
  height: 100px;
  background-color: whitesmoke;
  margin-bottom: 50px;
}

.billing__head h4 {
  padding-top: 25px;
}

.billing__main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.billing__left,
.billing__right {
  flex-wrap: 0.5;
  width: 100%;
  padding: 20px;
}

.billing__left .MuiTable-root {
  width: 100% !important;
}

.MuiTableHead-root {
  background-color: #23a6f0;
}
