.dashboard {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
}

.dashboard__buttons {
    display: flex;
    justify-content: space-between;
}

.dashboard__overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dashboard__income,
.dashboard__expense {
    flex: 0.45;
}

.dashboard__export {
    display: flex;
    width: 320px;
    margin: 5px auto;
    justify-content: space-between;
    align-items: center;
}