.education {
  flex: 1;
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.education__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.education__post {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  flex: 0.22;
  color: white;
  padding: 20px;
  height: 40vh;
}
