.incomeExpenseRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.incomeExpenseRow__image,
.incomeExpenseRow__money {
  flex: 0.2;
}

.incomeExpenseRow__text {
  flex: 1;
  margin-left: 10px;
}

.incomeExpenseRow__image img {
  height: 75px;
}
