.privacy {
  display: flex;
  flex: 1;
}

.privacy__container {
  flex: 0.8;
}

.privacy__head {
  height: 100px;
  background-color: whitesmoke;
  margin-bottom: 50px;
}

.preference__head {
  height: 100px;
  margin-top: 50px;
}

.privacy__head h4 {
  padding-top: 25px;
}

.preference {
  margin-top: 5px;
  text-align:left;
}

.policy {
  margin-top: 50px;
  background-color: whitesmoke;

}

