.sidebarOption {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  cursor: pointer;
  color: #23a6f0;
}

.sidebarOption:hover {
  opacity: 0.9;
  background-color: #23a6f0;
  color: white;
}

.sidebarOption__icon {
  padding: 10px;
  font-size: 15px !important;
}

.sidebarOption > h3 {
  font-weight: 500;
}
