.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 20px 30px;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid whitesmoke;
}

.navbar__left img {
  width: 200px;
  object-fit: contain;
  cursor: pointer;
}

.navbar__middle ul {
  display: flex;
  list-style: none;
}

.navbar__middle ul a li {
  margin: 0px 10px;
  cursor: pointer;
}

.navbar__middle ul a {
  text-decoration: none;
  color: black;
}

.navbar__right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar__rightButton {
  margin-left: 15px !important;
  color: white !important;
}

.navbar__rightLink {
  text-decoration: none;
  color: black;
}

.navbar__right .MuiAvatar-root {
  margin-left: 15px;
}
