.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: white;
  box-shadow: 0px 4px 14px -3px rgba(0, 0, 0, 0.7);
}

.login__container img {
  height: 100px;
  padding-bottom: 10px;
}

.login__container h1 {
  margin-bottom: 10px;
}

.login__container .MuiFormControl-root {
  width: 100%;
  margin-bottom: 20px !important;
}

.login__container > button {
  width: 100% !important;
  margin-bottom: 10px !important;
}

@media only screen and (max-width: 900px) {
  .login {
    background-color: white;
    height: 60vh;
  }

  .login__container {
    padding: 0px;
    box-shadow: none;
  }
}
